<p style="text-align: center;"><strong><span style="color:#B41A0F">地藏王菩薩愛您，迎接地藏王菩薩進入您的人生，推薦您以下三個天界之舟出品的禱告運用，點閱播放</span></strong></p>

<p style="text-align: center;"><strong><span style="color:#B41A0F">讓地藏王菩薩幫助您～驅離邪靈惡鬼騷擾、財運亨通、身體健康、擺脫惡疾、人生順遂。</span></strong></p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;"><strong><img alt="" height="20" src="//s.pixfs.net/f.pixnet.net/images/emotions/032.gif" title="" width="20" /><span style="font-size:18px"><span style="color:#FFFFFF"><span style="background-color:#6699ff">禱告運用：驅魔篇</span><span style="background-color:#ff6666">(適用於驅魔、收驚、制煞、鬼壓床、運勢差、體虛多病)</span></span></span></strong></p>

<p style="text-align: center;"><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="no-convert" data-gtm-yt-inspected-1163015_304="true" data-gtm-yt-inspected-1_19="true" frameborder="0" height="253" id="691511069" src="https://www.youtube.com/embed/UXwpoaqCI3Y?wmode=transparent&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fjjmaywonderfly.pixnet.net" style="margin: 0px; padding: 0px;" width="450"></iframe></p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;"><strong><img alt="" height="20" src="//s.pixfs.net/f.pixnet.net/images/emotions/032.gif" title="" width="20" /><span style="font-size:18px"><span style="color:#FFFFFF"><span style="background-color:#FF0000">禱告運用：發財篇</span><span style="background-color:#ff6666">(適用於投資理財、自營事業)</span></span></span></strong></p>

<p style="text-align: center;"><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="no-convert" data-gtm-yt-inspected-1163015_304="true" data-gtm-yt-inspected-1_19="true" frameborder="0" height="253" id="963143501" src="https://www.youtube.com/embed/j0SYZK0ni74?wmode=transparent&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fjjmaywonderfly.pixnet.net" style="margin: 0px; padding: 0px;" width="450"></iframe></p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;"><strong><img alt="" height="20" src="//s.pixfs.net/f.pixnet.net/images/emotions/032.gif" title="" width="20" /><span style="font-size:18px"><span style="color:#FFFFFF"><span style="background-color:#66cc66">禱告運用：抗癌篇</span><span style="background-color:#ff6666">(適用於體虛多病、罹患癌症、家族有遺傳病史)</span></span></span></strong></p>

<p style="text-align: center;">&nbsp;</p>
</div>

<p style="text-align: center;"><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="no-convert" data-gtm-yt-inspected-1163015_304="true" data-gtm-yt-inspected-1_19="true" frameborder="0" height="253" id="35174637" src="https://www.youtube.com/embed/8FIdnherCIU?wmode=transparent&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fjjmaywonderfly.pixnet.net" style="margin: 0px; padding: 0px;" width="450"></iframe></p>
