<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/gh/paltis5212/WebComponent/js/lite-youtube.js"></script>
</head>
<body style="overflow:hidden;">
    <div class="main-box card center-align hoverable">
        <div class="card-content">
            <p style="text-align: center;"><strong><span style="color:#B41A0F">地藏王菩薩愛您，迎接地藏王菩薩進入您的人生，推薦您以下三個天界之舟出品的禱告運用，點閱播放</span></strong></p>
            <br/>
            <p style="text-align: center;"><strong><span style="color:#B41A0F">讓地藏王菩薩幫助您～驅離邪靈惡鬼騷擾、財運亨通、身體健康、擺脫惡疾、人生順遂。</span></strong></p>
            <br/>
            <p style="text-align: center;"><strong><img alt="" height="20" src="//s.pixfs.net/f.pixnet.net/images/emotions/032.gif" title="" width="20" /><span style="font-size:18px"><span style="color:#FFFFFF"><span style="background-color:#6699ff">禱告運用：驅魔篇</span><span style="background-color:#ff6666">(適用於驅魔、收驚、制煞、鬼壓床、運勢差、體虛多病)</span></span></span></strong></p>
            <div class="lite-youtube">
                <lite-youtube videoid="UXwpoaqCI3Y"></lite-youtube>
            </div>
            <br/>
            <p style="text-align: center;"><strong><img alt="" height="20" src="//s.pixfs.net/f.pixnet.net/images/emotions/032.gif" title="" width="20" /><span style="font-size:18px"><span style="color:#FFFFFF"><span style="background-color:#FF0000">禱告運用：發財篇</span><span style="background-color:#ff6666">(適用於投資理財、自營事業)</span></span></span></strong></p>
            <div class="lite-youtube">
                <lite-youtube videoid="j0SYZK0ni74"></lite-youtube>
            </div>
            <br/>
            <p style="text-align: center;"><strong><img alt="" height="20" src="//s.pixfs.net/f.pixnet.net/images/emotions/032.gif" title="" width="20" /><span style="font-size:18px"><span style="color:#FFFFFF"><span style="background-color:#66cc66">禱告運用：抗癌篇</span><span style="background-color:#ff6666">(適用於體虛多病、罹患癌症、家族有遺傳病史)</span></span></span></strong></p>
            <div class="lite-youtube">
                <lite-youtube videoid="8FIdnherCIU"></lite-youtube>
            </div>
        </div>
    </div>
</body>
<style>
    .main-box {
        left: 2%;
        top: 5px;
        width: 96%
    }

    .lite-youtube {
        text-align: left;
        margin: 0 auto;
        max-width: 449.7px;
    }
</style>

</html>